.footer {
  width: 100vw;
  height: 50vh;
  background-color: rgba(56, 211, 146, 0.14);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-around;

  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
  }
  &__link {
    font-size: $normal-text;
    border: 2px solid $tertiary-color;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    color: $tertiary-color;
  }

  p {
    display: flex;
    align-items: center;
    font-size: $body-text;
  }
}
