$primary-color: #96ecff;
$secondary-color: #ff3366;
$tertiary-color: #131313;

$primary-font: "Oswald", sans-serif;
$secondary-font: "Poppins";

$heading-text: 108px;
$heading2-text: 72px;
$heading3-text: 54px;
$heading4-text: 36px;

$normal-text: 28px;
$body-text: 16px;
$small-text: 14px;

$mobile: 800px;
