$primary-color: #000000;
$secondary-color: #38d392;
$tertiary-color: #ffffff;

$primary-font: "Futura";
$secondary-font: "Poppins";

$heading-text: 108px;
$normal-text: 28px;
$body-text: 18px;

$mobile: 800px;
