.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;

  align-items: center;

  &__image {
    width: 50%;
  }
  &__content {
    width: 50%;
    margin: auto;

    h1 {
      padding: 20px 0px;
      position: absolute;
      top: 0;
      width: fit-content;
      border-bottom: 5px solid $secondary-color;
      font-size: $heading-text;
      font-family: $primary-font;
      margin-bottom: 40px;
    }
    p {
      font-size: $body-text;
      line-height: 27px;
      width: 50ch;
    }
  }
}
