.themes {
  width: 100vw;
  height: 250vh;

  h1 {
    @include heading();
    text-align: center;
    width: 60%;
    margin: 4rem auto;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &__image {
    width: 400px;
    margin: 2rem;
    @include mobile {
      width: 280px;
    }
  }
}
