.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 120%;
    height: 110%;
    background: rgba(56, 211, 146, 0.14);
    position: absolute;
    top: -20vh;
    left: -10%;
    z-index: -1;
    transform: matrix(0.98, -0.16, -0.19, -0.99, 0, 0);
    border: 20px solid $secondary-color;

    @include tablet {
      transform: none;
      height: 120%;
      border: none;
      filter: blur(75.8333px);
    }
  }

  &__image {
    height: 90%;
    width: 50%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    @include tablet {
      filter: blur(4px);
      justify-content: center;
      width: 100%;
    }
    &__hero {
      filter: blur(4px);
      width: 550px;
      @include tablet {
      }
    }
  }
  &__content {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-30%, -20%);
    font-size: $heading-text;
    font-family: $primary-font;

    @include tablet {
      left: 50%;
      top: 50%;
      transform: translate(-45%, -50%);
      font-size: $heading2-text;
      width: 50%;
      min-width: 280px;
    }
    @include mobile {
      font-size: $heading3-text;
    }

    &__date {
      font-size: $normal-text;
      font-family: $secondary-font;
      background-color: $secondary-color;
      padding: 20px;
      width: fit-content;
      color: $primary-color;
      font-weight: 500;
      font-style: italic;
      position: relative;

      @include tablet {
        font-size: $body-text;
        padding: 10px;
        margin-top: 30px;
      }
      @include mobile {
        font-size: $small-text;
        font-weight: 500;
        margin-top: 0.5rem;
      }

      span {
        font-size: $body-text;
        font-weight: 500;

        @include tablet {
          font-size: 10px;
        }
      }
    }
  }
  &__cta {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    right: 10%;

    padding: 10px;
    cursor: pointer;
    border: 3px solid $tertiary-color;
    color: $secondary-color;
    fill: $secondary-color;

    &::after {
      content: "watch trailer";
      position: absolute;
    }

    @include tablet {
      top: 80%;
      left: 50%;
      transform: translate(-55%, -50%);
    }
  }
}
