.contact {
  width: 100vw;
  display: flex;

  @include tablet {
    flex-direction: column;
    margin-top: 10%;
  }

  &__message {
    margin: 0 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: $normal-text;
    @include tablet {
      width: 80%;
      font-size: 20px;
    }
    p {
      letter-spacing: 0.8px;
      line-height: 1.8rem;
      margin-bottom: 2rem;
    }
    span {
      color: $secondary-color;
      font-size: $heading3-text;
      font-weight: 500;
      text-decoration: underline;

      @include tablet {
        margin-bottom: 5rem;
        font-size: $heading4-text;
      }
    }
  }
  &__form {
    width: 40%;

    display: flex;
    flex-direction: column;
    position: relative;

    @include tablet {
      width: 80%;
    }
    h1 {
      @include subHeading;
      margin: 1rem;
    }
    #name,
    #email,
    #message,
    #submit {
      background: transparent;
      width: 40%;
      padding: 0.5rem;
      font-size: $body-text;
      outline: none;
      border: 2px solid $secondary-color;
      margin: 1rem 0.8rem;

      @include tablet {
        width: 50%;
        min-width: 240px;
      }
    }
    #message {
      width: 90%;
      height: 40%;
    }
    #submit {
      color: #fff;
      background-color: $secondary-color;
    }
  }
}
