@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@font-face {
  font-family: "Futura";
  src: url("./../assets/fonts/futura_bdcn_bt_bold.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  background: $primary-color;
  color: $tertiary-color;
}
